<head>
    <!-- so meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content="#1d1f21">
    <%- open_graph({
        image      : thumbnail(page),
        fb_app_id  : theme.miscellaneous.open_graph.fb_app_id,
        fb_admins  : theme.miscellaneous.open_graph.fb_admins,
        twitter_id : theme.miscellaneous.open_graph.twitter_id,
        google_plus: theme.miscellaneous.open_graph.google_plus
    }) %>
    <%- meta(page) %>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#1d1f21">

    <!-- title -->
    <title><%= page.title ? page.title : config.title %></title>
    <!-- styles -->
    <%- css('css/style') %>
    <!-- rss -->
    <% if (theme.rss === '' && config.feed && config.feed.path) { %>
    <% theme.rss = config.feed.path %>
    <% } %>
    <% if (theme.rss) { %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml"/>
    <% } %>
</head>
